.text-error {
    color: #ff5f59!important;
}
.fullwidth {
    width: 100%;
}

.hidden {
    display: none;
}
.success-message {
    background: #28a745!important;
}

.error-message {
    background: #dc3545!important;
}
.has-error input.input-text {
    border: solid 1px;
    border-color: #ff5f59;
}
p.form-submit {
    padding: 0 10px;
}

.added-favorite:before {
    color: #fff!important;
    background: #000!important;
    border-color: #000!important;
}
.font-awasome-icon{
    font-size: .25in!important;
}


.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.isDisabled > a {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.button-login .button {
    background: #000!important;
    color: #fff!important;

}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    letter-spacing: .010416667in;
}

[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    text-transform: uppercase;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    cursor: pointer;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    color: #fff;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    padding-top: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    padding-bottom: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    padding-left: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    font-size: 9.75pt;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-image: none;
}
[class~=page-404] [class~=content-page-404], [class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    padding-right: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-top-color: currentColor;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-right-color: currentColor;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-bottom-color: currentColor;
}
[class~=page-faq] [class~=faq-section] [class~=faq-item] [class~=faq-question], [class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    font-weight: 500;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-left-color: currentColor;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-top-style: none;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-right-style: none;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-bottom-style: none;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-left-style: none;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-top-width: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-right-width: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-bottom-width: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    border-left-width: 0;
}
[class~=page-login-register] [class~=box-form-login] [class~=box-content] [class~=button-register] input[type=submit] {
    background: #000;
}
.page-login-register .box-form-login .box-content input {
    line-height: 3.4375pc;
}
.page-login-register .box-form-login .box-content input {
    height: 3.4375pc;
}
.btn-shopping-without-login {
    width: 100%;
}
.page-login-register .box-form-login .box-content input {
    width: 100%;
}
[type=reset], [type=submit], button, html [type=submit] {
    -webkit-appearance: button;
}
.shop-details .product-tabs #review-form .comment-form-rating .stars span a.reviewed:after {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: unset;
    text-indent: 0;
    color: #f5bf1c!important;
}
.contact-whatsap {
    right: 0.2in;
    bottom: 0.3125in;
    position: fixed;
}

.button[disabled], fieldset[disabled] .button {
    background-color: #fff;
    border-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5;
}

.page-login-register .box-form-login .box-content .required {
    color: black!important;
}

.button[disabled]:hover{
    border-color: #dbdbdb!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    opacity: .5!important;
}

.button[disabled], .input[disabled], .textarea[disabled], .select select[disabled], .file-cta[disabled], .file-name[disabled], .pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled], .pagination-ellipsis[disabled], fieldset[disabled] .button, fieldset[disabled] .input, fieldset[disabled] .textarea, fieldset[disabled] .select select, .select fieldset[disabled] select, fieldset[disabled] .file-cta, fieldset[disabled] .file-name, fieldset[disabled] .pagination-previous, fieldset[disabled] .pagination-next, fieldset[disabled] .pagination-link, fieldset[disabled] .pagination-ellipsis {
    cursor: not-allowed;
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 0.625em
}

.button.is-loading::after,
.loader,
.select.is-loading::after,
.control.is-loading::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em
}

.button.is-white.is-loading::after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}

.button.is-white.is-outlined.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}



.button.is-white.is-outlined.is-loading:hover::after,
.button.is-white.is-outlined.is-loading.is-hovered::after,
.button.is-white.is-outlined.is-loading:focus::after,
.button.is-white.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}

.button.is-white.is-inverted.is-outlined.is-loading:hover::after,
.button.is-white.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-white.is-inverted.is-outlined.is-loading:focus::after,
.button.is-white.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-black.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-black.is-outlined.is-loading::after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}


.button.is-black.is-outlined.is-loading:hover::after,
.button.is-black.is-outlined.is-loading.is-hovered::after,
.button.is-black.is-outlined.is-loading:focus::after,
.button.is-black.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-black.is-inverted.is-outlined.is-loading:hover::after,
.button.is-black.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-black.is-inverted.is-outlined.is-loading:focus::after,
.button.is-black.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #0a0a0a #0a0a0a !important
}

.button.is-light.is-loading::after {
    border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important
}

.button.is-light.is-outlined.is-loading::after {
    border-color: transparent transparent #f5f5f5 #f5f5f5 !important
}



.button.is-light.is-outlined.is-loading:hover::after,
.button.is-light.is-outlined.is-loading.is-hovered::after,
.button.is-light.is-outlined.is-loading:focus::after,
.button.is-light.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important
}
.button.is-light.is-inverted.is-outlined.is-loading:hover::after,
.button.is-light.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-light.is-inverted.is-outlined.is-loading:focus::after,
.button.is-light.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #f5f5f5 #f5f5f5 !important
}

.button.is-dark.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}


.button.is-dark.is-outlined.is-loading::after {
    border-color: transparent transparent #363636 #363636 !important
}



.button.is-dark.is-outlined.is-loading:hover::after,
.button.is-dark.is-outlined.is-loading.is-hovered::after,
.button.is-dark.is-outlined.is-loading:focus::after,
.button.is-dark.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important
}

.button.is-dark.is-inverted.is-outlined.is-loading:hover::after,
.button.is-dark.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-dark.is-inverted.is-outlined.is-loading:focus::after,
.button.is-dark.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #363636 #363636 !important
}

.button.is-primary.is-loading::after {
    border-color: transparent transparent #fff #fff !important
}

#popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999999;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
}

#popupClose {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
    color: #333;
    background-color: transparent;
    border: none;
    z-index: 999999999;
}

#popupClose:hover {
    color: #000;
}

.image-container {
    position: relative;
    text-align: left;
}

#popup img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

#popupTitle, #popupText {
    position: absolute;
    color: #000;
    z-index: 1005;
    max-width: 80%;
    left: 20px;
    text-align: left;
}

#popupTitle {
    bottom: 120px;
    font-size: 24px;
    font-weight: bold;
}

#popupText {
    bottom: 80px;
    font-size: 16px;
    margin-bottom: 10px;
}

#detailButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
}

@media (max-width: 768px) {
    #popup {
        width: 95%;
        padding: 15px;
    }

    #popupTitle {
        font-size: 20px;
    }

    #popupText {
        font-size: 14px;
    }

    #detailButton {
        padding: 8px 16px;
        font-size: 14px;
    }

    #popupClose {
        font-size: 24px;
        top: 5px;
        right: 5px;
    }
}

@media (max-width: 480px) {
    #popupTitle {
        font-size: 18px;
    }

    #popupText {
        font-size: 12px;
    }

    #detailButton {
        padding: 6px 12px;
        font-size: 12px;
    }

    #popupClose {
        font-size: 20px;
        top: 5px;
        right: 5px;
    }
}
